#current-progress{
    letter-spacing: 3px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

#letters-guessed{
    letter-spacing: 5px;
}

#new-game{
    size: 48px;
    color: red;
}



